:root {
    font-size: 16px;
}
@media screen and (max-width: 992px) {
    :root {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 576px) {
    :root {
        font-size: 0.8rem;
    }
}

body {
    background: url(./assets/bg.jpg) center center/cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    color: #a67b5b;
}

button {
    cursor: pointer;
}

input {
    border: none;
    margin: 0 0 0 0.4rem;
    background: #fff1e4;
    padding: 0.5rem 1rem;
    color: #a67b5b;
    border-radius: 0.5rem;
}
input:focus-visible {
    outline: none;
    box-shadow: 0 0 5px #6f4e37;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #a67b5b;
    -webkit-box-shadow: none;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

button {
    background: #a67b5b;
    border: none;
    border-radius: 0.5rem;
    color: #fff1e4;
    padding: 0.5rem 1rem;
}
button:hover {
    background: #6f4e37;
}
button:focus-visible {
    outline: none;
}

#root {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: 70vw;
    min-height: 90vh;
}
@media screen and (max-width: 992px) {
    #root {
        width: 75vw;
    }
}
@media screen and (max-width: 576px) {
    #root {
        width: 90vw;
    }
}

header {
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 576px) {
    header {
        margin-block: 1.5rem;
    }
}
header .auth {
    margin-left: auto;
}
header .auth a {
    text-decoration: none;
}
header .auth span {
    display: inline-block;
    font-size: 0.8rem;
    color: #a67b5b;
    margin-inline: 0.2rem;
    padding: 0.5rem;
}
@media screen and (max-width: 576px) {
    header .auth span {
        padding: 0.2rem;
    }
}
header .auth button {
    font-size: 0.8rem;
    margin-inline: 0.2rem;
    padding: 0.2rem 0.5rem;
    color: #eee;
}
header button {
    padding: 0.5rem 1.5rem;
    background: #a67b5b;
    border-radius: 1rem;
    border: none;
    color: #eee;
    margin-inline: 0.5rem;
}
header button:hover {
    background: #6f4e37;
}
@media screen and (max-width: 576px) {
    header button {
        padding: 0.3rem 0.8rem;
        margin-inline: 0.3rem;
    }
}

section {
    margin-inline: 2rem;
}
section form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media screen and (max-width: 576px) {
    section form {
        justify-content: center;
    }
}
@media screen and (max-width: 992px) {
    section form input {
        width: calc(50% - 2.4rem);
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 576px) {
    section form input {
        width: 100%;
        margin-block: 0.4rem;
    }
}
section form button {
    margin-left: 0.4rem;
}
@media screen and (max-width: 992px) {
    section form button {
        margin-inline: auto;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 576px) {
    section form button {
        margin-top: 0.4rem;
    }
}
section .list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.5rem;
}
@media screen and (max-width: 576px) {
    section .list-top {
        margin-block: 0.2rem;
    }
}
section .list-top button {
    background: #fff1e4;
    border: none;
    border-radius: 0.5rem;
    color: #a67b5b;
    padding: 0.5rem;
    margin-left: 0.4rem;
}
section .list-top button:hover {
    background: #ecc176;
}
section .list-top button.active {
    background: #a67b5b;
    color: #fff1e4;
}
@media screen and (max-width: 576px) {
    section .list-top button {
        padding: 0.3rem;
    }
}
section .list-top .per-page {
    margin-left: auto;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 576px) {
    section .list-top .per-page {
        padding: 0;
    }
}
section .list-top .per-page span {
    margin-right: 0.5rem;
    color: #a67b5b;
}
@media screen and (max-width: 576px) {
    section .list-top .per-page span {
        margin-right: 0.2rem;
    }
}
section .list-top .per-page button {
    margin-left: 0.2rem;
}
section .add-english,
section .search-english {
    text-align: left;
}
section .list {
    display: flex;
    flex-wrap: wrap;
    margin-block: 2.5rem;
    justify-content: flex-start;
}
section .list > h3 {
    margin-inline: auto;
}
section .list .no-list {
    margin-inline: auto;
}
section .list .card {
    padding: 0.5rem 1.5rem;
    background: #fff1e4;
    border-radius: 0.5rem;
    min-height: 6.6rem;
    width: calc(25% - 3.8rem);
    position: relative;
    margin: 1rem 0.4rem 1rem 0.4rem;
}
@media screen and (max-width: 992px) {
    section .list .card {
        width: calc(33.3% - 3.8rem);
    }
}
@media screen and (max-width: 576px) {
    section .list .card {
        width: calc(50% - 3.8rem);
    }
}
section .list .card:hover {
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0px 3px 10px #a67b5b;
    transform: translateY(-2px);
}
section .list .card .line {
    width: 100%;
    height: 0.05rem;
    background: #a67b5b;
}
section .list .card .delete,
section .list .card .star {
    position: absolute;
    top: -0.9rem;
    border: none;
    color: #a67b5b;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    background: #fff1e4;
    display: flex;
    align-items: center;
}
section .list .card .delete:hover,
section .list .card .star:hover {
    background: #a67b5b;
    color: #fff1e4;
}
section .list .card .delete {
    right: 0;
}
section .list .card .star {
    left: 0;
}

button.active {
    background: #6f4e37;
}

.modal {
    background: #a67b5b;
    padding: 2rem 2rem;
    border: none;
    border-radius: 0.5rem;
    min-width: 10rem;
}
.modal::backdrop {
    background: rgba(0, 0, 0, 0.3);
}
.modal h2,
.modal h3 {
    color: #fff1e4;
}
.modal button {
    background: #fff1e4;
    border: none;
    border-radius: 0.5rem;
    color: #a67b5b;
    padding: 0.5rem 0.5rem;
    margin-inline: 0.5rem;
}
.modal button:hover {
    background: #ecc176;
}

.modal.search {
    background: #fff1e4;
}
.modal.search h2,
.modal.search h3 {
    color: #a67b5b;
}
.modal.search button {
    background: #a67b5b;
    color: #fff1e4;
}
.modal.search button:hover {
    background: #6f4e37;
}

.page-list {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.page-list button {
    border: none;
    margin: 0.2rem;
    color: #fff1e4;
    background: #a67b5b;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
.page-list button:hover {
    background: #6f4e37;
}
.page-list button.active {
    background: #6f4e37;
}

.test .top {
    display: flex;
}
.test .top button {
    background: #fff1e4;
    border: none;
    border-radius: 0.5rem;
    color: #a67b5b;
    padding: 0.5rem 0.5rem;
    margin-inline: 0.2rem;
}
.test .top button:hover {
    background: #ecc176;
}
.test .top button.active {
    background: #a67b5b;
    color: #fff1e4;
}
.test .top button:focus-visible {
    outline: none;
}
.test .test-zone {
    margin-top: 2.5rem;
    padding-block: 1rem;
}
.test .test-zone.focused {
    outline: 1px solid #a67b5b;
}
.test .test-zone:focus-visible {
    outline: 1px solid #a67b5b;
}
.test .test-zone .problem {
    margin-bottom: 1.5rem;
}
.test .test-zone .answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 4.5rem;
}
.test .test-zone .answers h1 {
    margin-inline: 0.5rem;
    min-width: 2rem;
    border-bottom: 2px solid #a67b5b;
    color: #6f4e37;
}

form.member-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.member-form input {
    width: 30%;
    margin-block: 0.4rem;
}
@media screen and (max-width: 992px) {
    form.member-form input {
        width: 50%;
    }
}
form.member-form button {
    margin-top: 1rem;
} /*# sourceMappingURL=index.css.map */
