$first-color: #6f4e37;
$second-color: #a67b5b;
$third-color: #ecc176;
$fourth-color: #fff1e4;
$white: #eee;
$border-radius: 0.5rem;
body {
    background: url(./assets/bg.jpg) center center/cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    color: $second-color;
}
button {
    cursor: pointer;
}
#root {
    backdrop-filter: blur(2px);
    width: 60vw;
    min-height: 90vh;
}

header {
    margin-block: 3rem;
    button {
        padding: 0.5rem 1.5rem;
        background: $second-color;
        border-radius: 1rem;
        border: none;
        color: $white;
        margin-inline: 0.5rem;
        &:hover {
            background: $first-color;
        }
    }
}

section {
    margin-inline: 2rem;
    .list-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 0.5rem;
        button {
            background: $fourth-color;
            border: none;
            border-radius: $border-radius;
            color: $second-color;
            padding: 0.5rem 0.5rem;
            margin-inline: 0.2rem;

            &:hover {
                background: $third-color;
            }
            &.active {
                background: $second-color;
                color: $fourth-color;
            }
        }
        .per-page {
            margin-left: auto;
            padding: 0.5rem 0.5rem;
            span {
                margin-right: 0.5rem;
                color: $second-color;
            }
            button {
                margin-inline: 0.2rem;
            }
        }
    }
    .add-english,
    .search-english {
        text-align: left;
        & input {
            border: none;
            margin: 1rem 1rem 0 0;
            background: $fourth-color;
            padding: 0.5rem 1rem;
            color: $second-color;
            border-radius: $border-radius;
            &:focus-visible {
                outline: none;
                box-shadow: 0 0 5px $first-color;
            }
        }
        & button {
            background: $second-color;
            border: none;
            border-radius: $border-radius;
            color: $fourth-color;
            padding: 0.5rem 1rem;
            &:hover {
                background: $first-color;
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-block: 2.5rem;
        > h3 {
            margin-inline: auto;
        }
        .no-list {
            margin-inline: auto;
        }
        .card {
            padding: 0.5rem 1.5rem;
            background: $fourth-color;
            border-radius: $border-radius;
            min-height: 6.6rem;
            width: 6.5rem;
            position: relative;
            margin: 0.8rem 1.2rem 1rem 0;
            &:hover {
                border-radius: 0 0 0.5rem 0.5rem;
                box-shadow: 0px 3px 10px $second-color;
                transform: translateY(-2px);
            }
            .line {
                width: 100%;
                height: 0.05rem;
                background: $second-color;
            }
            .delete,
            .star {
                position: absolute;
                top: -0.9rem;
                border: none;
                color: $second-color;
                padding: 0.1rem 0.2rem;
                border-radius: 0.2rem;
                background: $fourth-color;
                display: flex;
                align-items: center;
                &:hover {
                    background: $second-color;
                    color: $fourth-color;
                }
            }
            .delete {
                right: 0;
            }
            .star {
                left: 0;
            }
        }
    }
}

button.active {
    background: $first-color;
}

.modal {
    background: $second-color;
    padding: 2rem 2rem;
    border: none;
    border-radius: $border-radius;
    min-width: 10rem;
    &::backdrop {
        background: rgba(0, 0, 0, 0.3);
    }
    h2,
    h3 {
        color: $fourth-color;
    }
    button {
        background: $fourth-color;
        border: none;
        border-radius: $border-radius;
        color: $second-color;
        padding: 0.5rem 0.5rem;
        margin-inline: 0.5rem;
        &:hover {
            background: $third-color;
        }
    }
}
.modal.search {
    background: $fourth-color;
    h2,
    h3 {
        color: $second-color;
    }
    button {
        background: $second-color;
        color: $fourth-color;
        &:hover {
            background: $first-color;
        }
    }
}

.page-list {
    margin-block: 3rem;
    display: flex;
    justify-content: center;
    button {
        border: none;
        margin-inline: 0.2rem;
        color: $fourth-color;
        background: $second-color;
        min-height: 2rem;
        min-width: 2rem;
        border-radius: $border-radius;
        &:hover {
            background: $first-color;
        }
        &.active {
            background: $first-color;
        }
    }
}
