$first-color: #6f4e37;
$second-color: #a67b5b;
$third-color: #ecc176;
$fourth-color: #fff1e4;
$white: #eee;
$border-radius: 0.5rem;
$breakpoint-small: 576px;
$breakpoint-medium: 992px;

:root {
    font-size: 16px;
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 0.9rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 0.8rem;
    }
}
body {
    background: url(./assets/bg.jpg) center center/cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    color: $second-color;
}
button {
    cursor: pointer;
}
input {
    border: none;
    margin: 0 0 0 0.4rem;
    background: $fourth-color;
    padding: 0.5rem 1rem;
    color: $second-color;
    border-radius: $border-radius;

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 5px $first-color;
    }
}
// 修改自動填入時的預設CSS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: $second-color;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}
button {
    background: $second-color;
    border: none;
    border-radius: $border-radius;
    color: $fourth-color;
    padding: 0.5rem 1rem;
    &:hover {
        background: $first-color;
    }
    &:focus-visible {
        outline: none;
    }
}

#root {
    backdrop-filter: blur(2px);
    width: 70vw;
    min-height: 90vh;
    @media screen and (max-width: $breakpoint-medium) {
        width: 75vw;
    }
    @media screen and (max-width: $breakpoint-small) {
        width: 90vw;
    }
}

header {
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $breakpoint-small) {
        margin-block: 1.5rem;
    }
    & .auth {
        margin-left: auto;
        a {
            text-decoration: none;
        }
        span {
            display: inline-block;
            font-size: 0.8rem;
            color: $second-color;
            margin-inline: 0.2rem;
            padding: 0.5rem;
            @media screen and (max-width: $breakpoint-small) {
                padding: 0.2rem;
            }
        }
        button {
            font-size: 0.8rem;
            margin-inline: 0.2rem;
            padding: 0.2rem 0.5rem;
            color: $white;
        }
    }
    button {
        padding: 0.5rem 1.5rem;
        background: $second-color;
        border-radius: 1rem;
        border: none;
        color: $white;
        margin-inline: 0.5rem;
        &:hover {
            background: $first-color;
        }
        @media screen and (max-width: $breakpoint-small) {
            padding: 0.3rem 0.8rem;
            margin-inline: 0.3rem;
        }
    }
}

section {
    margin-inline: 2rem;
    form {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media screen and (max-width: $breakpoint-small) {
            justify-content: center;
        }
        input {
            @media screen and (max-width: $breakpoint-medium) {
                width: calc(50% - 2.4rem);
                margin-bottom: 1rem;
            }
            @media screen and (max-width: $breakpoint-small) {
                width: 100%;
                margin-block: 0.4rem;
            }
        }
        button {
            margin-left: 0.4rem;
            @media screen and (max-width: $breakpoint-medium) {
                margin-inline: auto;
                margin-bottom: 1rem;
            }
            @media screen and (max-width: $breakpoint-small) {
                margin-top: 0.4rem;
            }
        }
    }
    .list-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 0.5rem;
        @media screen and (max-width: $breakpoint-small) {
            margin-block: 0.2rem;
        }
        button {
            background: $fourth-color;
            border: none;
            border-radius: $border-radius;
            color: $second-color;
            padding: 0.5rem;
            margin-left: 0.4rem;

            &:hover {
                background: $third-color;
            }
            &.active {
                background: $second-color;
                color: $fourth-color;
            }
            @media screen and (max-width: $breakpoint-small) {
                padding: 0.3rem;
            }
        }
        .per-page {
            margin-left: auto;
            // padding: 0.5rem;
            display: flex;
            align-items: center;
            @media screen and (max-width: $breakpoint-small) {
                padding: 0;
            }

            span {
                margin-right: 0.5rem;
                color: $second-color;
                @media screen and (max-width: $breakpoint-small) {
                    margin-right: 0.2rem;
                }
            }
            button {
                margin-left: 0.2rem;
            }
        }
    }
    .add-english,
    .search-english {
        text-align: left;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-block: 2.5rem;
        justify-content: flex-start;
        > h3 {
            margin-inline: auto;
        }
        .no-list {
            margin-inline: auto;
        }
        .card {
            padding: 0.5rem 1.5rem;
            background: $fourth-color;
            border-radius: $border-radius;
            min-height: 6.6rem;
            width: calc(25% - 3.8rem);
            position: relative;
            margin: 1rem 0.4rem 1rem 0.4rem;
            @media screen and (max-width: $breakpoint-medium) {
                width: calc(33.3% - 3.8rem);
            }
            @media screen and (max-width: $breakpoint-small) {
                width: calc(50% - 3.8rem);
            }
            &:hover {
                border-radius: 0 0 0.5rem 0.5rem;
                box-shadow: 0px 3px 10px $second-color;
                transform: translateY(-2px);
            }
            .line {
                width: 100%;
                height: 0.05rem;
                background: $second-color;
            }
            .delete,
            .star {
                position: absolute;
                top: -0.9rem;
                border: none;
                color: $second-color;
                padding: 0.1rem 0.2rem;
                border-radius: 0.2rem;
                background: $fourth-color;
                display: flex;
                align-items: center;
                &:hover {
                    background: $second-color;
                    color: $fourth-color;
                }
            }
            .delete {
                right: 0;
            }
            .star {
                left: 0;
            }
        }
    }
}

button.active {
    background: $first-color;
}

.modal {
    background: $second-color;
    padding: 2rem 2rem;
    border: none;
    border-radius: $border-radius;
    min-width: 10rem;
    &::backdrop {
        background: rgba(0, 0, 0, 0.3);
    }
    h2,
    h3 {
        color: $fourth-color;
    }
    button {
        background: $fourth-color;
        border: none;
        border-radius: $border-radius;
        color: $second-color;
        padding: 0.5rem 0.5rem;
        margin-inline: 0.5rem;
        &:hover {
            background: $third-color;
        }
    }
}
.modal.search {
    background: $fourth-color;
    h2,
    h3 {
        color: $second-color;
    }
    button {
        background: $second-color;
        color: $fourth-color;
        &:hover {
            background: $first-color;
        }
    }
}

.page-list {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
        border: none;
        margin: 0.2rem;
        color: $fourth-color;
        background: $second-color;
        min-height: 2rem;
        min-width: 2rem;
        border-radius: $border-radius;
        padding: 0.2rem;
        &:hover {
            background: $first-color;
        }
        &.active {
            background: $first-color;
        }
    }
}

.test {
    .top {
        display: flex;
        button {
            background: $fourth-color;
            border: none;
            border-radius: $border-radius;
            color: $second-color;
            padding: 0.5rem 0.5rem;
            margin-inline: 0.2rem;

            &:hover {
                background: $third-color;
            }
            &.active {
                background: $second-color;
                color: $fourth-color;
            }
            &:focus-visible {
                outline: none;
            }
        }
    }
    .test-zone {
        margin-top: 2.5rem;
        padding-block: 1rem;
        &.focused {
            outline: 1px solid $second-color;
        }
        &:focus-visible {
            outline: 1px solid $second-color;
        }
        .problem {
            margin-bottom: 1.5rem;
        }
        .answers {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            min-height: 4.5rem;
            h1 {
                margin-inline: 0.5rem;
                min-width: 2rem;
                border-bottom: 2px solid $second-color;
                color: $first-color;
            }
        }
    }
}

form.member-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 30%;
        margin-block: 0.4rem;
        @media screen and (max-width: $breakpoint-medium) {
            width: 50%;
        }
    }

    button {
        margin-top: 1rem;
    }
}
