$first-color: #6f4e37;
$second-color: #a67b5b;
$third-color: #ecc176;
$fourth-color: #fff1e4;
$white: #eee;
body {
    background: url(./assets/bg.jpg) center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    color: $second-color;
}

#root {
    backdrop-filter: blur(2px);
    width: 60vw;
}

header {
    button {
        padding: 0.5rem 1.5rem;
        background: $second-color;
        border-radius: 1rem;
        border: none;
        color: $white;
        margin-inline: 0.5rem;
        cursor: pointer;
        &:hover {
            background: $first-color;
        }
    }
}

section {
    margin-inline: 2rem;
    .list-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 0.5rem;
        button {
            background: $fourth-color;
            border: none;
            border-radius: 0.6rem;
            color: $second-color;
            padding: 0.2rem 0.5rem;
            &:hover {
                background: $third-color;
            }
        }
        .per-page {
            span {
                margin-right: 0.5rem;
                color: $second-color;
            }
            button {
                margin-inline: 0.2rem;
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-block: 2.5rem;
        justify-content: space-around;
        .card {
            padding: 0.5rem 1.5rem;
            background: $fourth-color;
            border-radius: 0.5rem;
            width: 7rem;
            position: relative;
            margin: 0.8rem 0.2rem;
            &:hover {
                border-radius: 0 0 0.5rem 0.5rem;
            }
            .delete,
            .star {
                position: absolute;
                top: -1.2rem;
                border: none;
                color: $second-color;
                padding: 0.1rem 0.2rem;
                border-radius: 0.2rem 0.2rem 0 0;
                background: $fourth-color;
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    background: $third-color;
                }
            }
            .delete {
                right: 0;
            }
            .star {
                left: 0;
            }
        }
    }
}
